*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
annotations/build/
runtime/build/
HaiefngTestPlug/com/hf/
hf-annotations/build/
hf-debug-runtime/build/generated/source/buildConfig/androidTest/
hf-debug-runtime/build/generated/source/buildConfig/debug/
hf-debug-runtime/build/intermediates/aapt_friendly_merged_manifests/debug/
hf-debug-runtime/build/intermediates/annotation_processor_list/
hf-debug-runtime/build/intermediates/annotations_typedef_file/
hf-debug-runtime/build/intermediates/compile_only_not_namespaced_r_class_jar/
hf-debug-runtime/build/intermediates/incremental/
hf-debug-runtime/build/intermediates/javac/
hf-debug-runtime/build/intermediates/library_manifest/debug/
hf-debug-runtime/build/intermediates/merged_manifests/debug/
hf-debug-runtime/build/intermediates/merged_manifests/debugAndroidTest/
hf-debug-runtime/build/intermediates/packaged-classes/
hf-debug-runtime/build/intermediates/res/
hf-debug-runtime/build/intermediates/symbols/
hf-debug-runtime/build/intermediates/transforms/
hf-debug-runtime/build/outputs/aar/
hf-debug-runtime/build/outputs/logs/manifest-merger-debug-report.txt
hf-debug-runtime/build/poms/
.idea/
HaiefngTestPlug/
